逃离塔科夫离线版资源/服务端/SPT-4.0.6-40087-d13d2dd.7z
逃离塔科夫离线版资源/客户端/Client.0.16.9.0.40087.zip
resources/client/Client.0.16.9.0.40087.zip
resources/required/NDP472-DevPack-ENU.exe
resources/server/SPT-4.0.6-40087-d13d2dd.zip
build/
dist/
/scripts/__pycache__
resources/
/__tmp_install
*.spec
*.pyc
